<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @channel.name %>
</p>

<p>
  <b>Description:</b>
  <%= @channel.description %>
</p>

<p>
  <b>Owner:</b>
  <%= @channel.owner %>
</p>

<%= link_to 'Volver a la lista de canales', chat_index_path %>
