<%= form_for(@comment, :remote => true) do |f| %>

  <%= f.text_area :message, :size => '45x3' %>

  <%= f.hidden_field :user_id, :value => session[:user_id]  %>
  <%= f.hidden_field :channel_id, :value => session[:channel] %>
  <%= f.submit  %>

  <div class="actions">
    <%= button_to 'Comentar', 'comments/create' %>
  </div>
<% end %>
