<div id="room_info">
  <% if @channel %>


    <%= javascript_tag do %>
      new Ajax.PeriodicalUpdater('comments_list', 'update',
      {
      method: 'get',
      frequency: 2,
      decay: 1
      });
    <% end %>

    Canal <%= @channel.name %>: <%= @channel.description %>
    <hr/>
    <div id="comments_list">
      <%= render @comments %>
    </div>
    <div id="comment_box">
      <%= render 'comments/form' %>
    </div>
  <% else %>
    Elija un canal
  <% end %>
</div>
