<!DOCTYPE html>
<html>
  <head>
    <title>Upobook</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>    
    <%= csrf_meta_tag %>
  </head>
  <body>    
    <div id="wrapper">
      <div id="header">
        Upobook | IRC        
      </div>
      <div id="notice">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
      </div>
      <div id="contents">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      <div id="footer">
        Gonzalo Rodríguez-Baltanás Díaz  2009-2010  Advanced web programming course
      </div>
    </div>
  </body>
</html>
